.front_big{
    font-family: 'Times New Roman', Times, serif;
    font-size: 700%;
    position: absolute;
    top: 3%;
    left: 36%;;
    color: white;
}
.front_mid{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    position: absolute;
    top: 25%;
    left: 38%;;
    color: white;
}
