.background_image {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(".\\assess\\background.jpg");
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    filter: blur(10px);
    background-repeat: no-repeat;
}
.icon_bar {
    position: absolute;
    left: 11%;
    top: 50%;
    width: 100%;
}
.icon {
    width: 350px;
    height: 350px;
    margin-right: 10%;;
}